.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
}

.dark_mode_label {
  width: 55px;
  height: 24px;
  position: relative;
  display: block;
  background: var(--body_settings_mode);
  border-radius: 200px;

  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: var(--body_settings_mode);
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-173%);
  background: #ffe86e;
}
.dark_mode_label:active:after {
  width: 20px;
}

.dark_mode_label_hilal:after {
  content: "";
  width: 15px;
  height: 16px;
  position: absolute;
  top: 33px;
  left: 1049px;
  background: var(--body_settings_mode);

  border-radius: 180px;
  transition: 0.3s;
  transform: rotate(55deg);
}
