:root {
  --body_footer_bg: #f9f9f9;
  --body_footer_p: #1f2937;
  --body_footer_mail: #af0c48;
  --body_footer_blog: #0a0a14;
}

[data-theme="dark"] {
  --body_footer_p: #aebccf;
  --body_footer_bg: #141414;
  --body_footer_mail: #bab2e7;
  --body_footer_blog: #e1e1ff;
}
@media (min-width: 319px) and (max-width: 767px) {
  .footer-container {
    background-color: var(--body_footer_bg);
    padding-top: 30px;
    height: 25.563rem;
    width: auto;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .footer p {
    font-size: 32px;
    font-weight: 600;
    color: var(--body_footer_p);
  }
  .footer-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: underline;
    color: var(--body_footer_mail);
  }
  .right-hand {
    color: gold;
    font-size: 20px;
    width: 26px;
    height: 24px;
  }
  .my-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 500;
  }
  .footer-github {
    width: 60px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #00ab6b;
    text-decoration: none;
  }
  .footer-linkedln {
    width: 74px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    color: #0077b5;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    background-color: var(--body_footer_bg);
    padding-top: 5rem;
    height: 25.563rem;
    width: auto;
  }
  .footer p {
    width: 540px;
    height: 106px;
    font-size: 42px;
    font-weight: 600;
    color: var(--body_footer_p);
    margin-left: 7.813rem;
  }
  .footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 7.813rem;
    text-decoration: underline;
    color: var(--body_footer_mail);
  }
  .my-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10.938rem;
    font-weight: 500;
  }
  .blog {
    width: 120px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--body_footer_blog);
  }
  .right-hand {
    color: gold;
    font-size: 20px;
    width: 26px;
    height: 24px;
  }
  .footer-github {
    width: 60px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #00ab6b;
    text-decoration: none;
  }
  .footer-linkedln {
    width: 74px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    color: #0077b5;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-container {
    background-color: var(--body_footer_bg);
    padding-top: 5rem;
    height: 25.563rem;
    width: auto;
  }
  .footer p {
    width: 540px;
    height: 106px;
    font-size: 42px;
    font-weight: 600;
    color: var(--body_footer_p);
    margin-left: 7.813rem;
  }
  .footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 7.813rem;
    text-decoration: underline;
    color: var(--body_footer_mail);
  }
  .my-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10.938rem;
    font-weight: 500;
  }
  .blog {
    width: 120px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--body_footer_blog);
  }
  .right-hand {
    color: gold;
    font-size: 20px;
    width: 26px;
    height: 24px;
  }
  .footer-github {
    width: 60px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #00ab6b;
    text-decoration: none;
  }
  .footer-linkedln {
    width: 74px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    color: #0077b5;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .footer-container {
    background-color: var(--body_footer_bg);
    padding-top: 5rem;
    height: 25.563rem;
    width: auto;
  }
  .footer p {
    width: 540px;
    height: 106px;
    font-size: 42px;
    font-weight: 600;
    color: var(--body_footer_p);
    margin-left: 7.813rem;
  }
  .footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 7.813rem;
    text-decoration: underline;
    color: var(--body_footer_mail);
  }
  .my-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10.938rem;
    font-weight: 500;
  }
  .blog {
    width: 120px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--body_footer_blog);
  }
  .right-hand {
    color: gold;
    font-size: 20px;
    width: 26px;
    height: 24px;
  }
  .footer-github {
    width: 60px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #00ab6b;
    text-decoration: none;
  }
  .footer-linkedln {
    width: 74px;
    height: 27px;
    line-height: 27px;
    font-weight: 500;
    color: #0077b5;
  }
}

@media (min-width: 1920px) {
  .footer-container {
    background-color: var(--body_footer_bg);
    padding-top: 5rem;
    height: 600px;
    width: auto;
  }
  .footer p {
    width: 700px;
    font-size: 64px;
    font-weight: 600;
    color: var(--body_footer_p);
    margin-left: 7.813rem;
  }
  .footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 7.813rem;
    text-decoration: underline;
    color: var(--body_footer_mail);
    font-size: 32px;
  }
  .my-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10.938rem;
    font-weight: 500;
    font-size: 32px;
  }
  .blog {
    width: 120px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--body_footer_blog);
  }
  .right-hand {
    color: gold;
    font-size: 32px;
    width: 44px;
    height: 42px;
  }
  .footer-github {
    font-size: 32px;
    font-weight: 500;
    line-height: 27px;
    color: #00ab6b;
    text-decoration: none;
  }
  .footer-linkedln {
    font-size: 32px;
    font-weight: 500;
    color: #0077b5;
  }
}

/* Footer-section-end */
