:root {
  --body_profile_h2: #1f2937;
  --body_profile_h3: #4338ca;
  --body_profile_p: #6b7280;
  --body_profile_info: black;
}
[data-theme="dark"] {
  --body_profile_h2: #aebccf;
  --body_profile_h3: #b7aaff;
  --body_profile_p: white;
  --body_profile_info: white;
}

@media (min-width: 319px) and (max-width: 767px) {
  .profile-container {
    background-color: var(--body_background);
  }
  .profile h2 {
    margin: 0;
    padding: 30px;
    color: var(--body_profile_h2);
    font-size: 48px;
    display: flex;
    justify-content: center;
  }
  .profile-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-info h3 {
    display: none;
    color: var(--body_profile_h3);
    font-size: 30px;
  }

  .info-container {
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
  }
  .info-question {
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-weight: bold;
    color: var(--body_profile_info);
  }
  .info-answer {
    display: flex;
    flex-direction: column;
    color: var(--body_profile_info);
  }
  .about-me {
    padding-bottom: 40px;
  }
  .about-me-scroll {
    overflow-x: scroll;
    height: 250px;
  }
  .about-me h3 {
    color: var(--body_profile_h3);
    font-size: 30px;
    text-align: center;
  }
  .about-me p {
    color: var(--body_profile_p);
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile-container {
    padding: 50px 50px 0 50px;
    background-color: var(--body_background);
  }
  .my-info {
    height: 500px;
  }
  .profile h2 {
    color: var(--body_profile_h2);
    font-size: 48px;
  }
  .profile-style {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .my-info h3 {
    color: var(--body_profile_h3);
    font-size: 30px;
    margin-top: 2.438rem;
  }

  .info-container {
    display: flex;
    flex-direction: row;
  }
  .info-question {
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-weight: bold;
    color: var(--body_profile_info);
  }
  .info-answer {
    display: flex;
    flex-direction: column;
    width: 14.5rem;
    color: var(--body_profile_info);
  }
  .about-me {
    height: 360px;
    overflow-x: scroll;
  }
  .about-me h3 {
    color: var(--body_profile_h3);
    font-size: 30px;
    margin-top: 2.438rem;
  }
  .about-me p {
    color: var(--body_profile_p);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .profile-container {
    padding: 110px 70px 0 70px;
    background-color: var(--body_background);
  }
  .profile h2 {
    color: var(--body_profile_h2);
    font-size: 48px;
  }
  .profile-style {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .my-info h3 {
    color: var(--body_profile_h3);
    font-size: 30px;
    margin-top: 2.438rem;
  }

  .info-container {
    display: flex;
    flex-direction: row;
  }
  .info-question {
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-weight: bold;
    color: var(--body_profile_info);
  }
  .info-answer {
    display: flex;
    flex-direction: column;
    width: 14.5rem;
    color: var(--body_profile_info);
  }
  .about-me h3 {
    color: var(--body_profile_h3);
    font-size: 30px;
    margin-top: 2.438rem;
  }
  .about-me-scroll > div {
    overflow-x: scroll;
    height: 250px;
  }
  .about-me p {
    color: var(--body_profile_p);
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .profile-container {
    padding: 2.438rem 10.938rem 0 7.813rem;
    background-color: var(--body_background);
  }
  .profile h2 {
    color: var(--body_profile_h2);
    font-size: 48px;
  }
  .profile-style {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .my-info h3 {
    color: var(--body_profile_h3);
    font-size: 30px;
    margin-top: 2.438rem;
  }

  .info-container {
    display: flex;
    flex-direction: row;
  }
  .info-question {
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-weight: bold;
    color: var(--body_profile_info);
  }
  .info-answer {
    display: flex;
    flex-direction: column;
    width: 14.5rem;
    color: var(--body_profile_info);
  }
  .about-me h3 {
    color: var(--body_profile_h3);
    font-size: 30px;
    margin-top: 2.438rem;
  }
  .about-me p {
    color: var(--body_profile_p);
  }
}

@media (min-width: 1920px) {
  .profile-container {
    padding: 2.438rem 10.938rem 0 7.813rem;
    background-color: var(--body_background);
  }
  .profile h2 {
    color: var(--body_profile_h2);
    font-size: 64px;
  }
  .profile-style {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .my-info h3 {
    color: var(--body_profile_h3);
    font-size: 32px;
    margin-top: 2.438rem;
  }

  .info-container {
    display: flex;
    flex-direction: row;
  }
  .info-question {
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-weight: bold;
    color: var(--body_profile_info);
    font-size: 18px;
  }
  .info-answer {
    display: flex;
    flex-direction: column;
    width: 14.5rem;
    color: var(--body_profile_info);
    font-size: 18px;
  }
  .about-me h3 {
    color: var(--body_profile_h3);
    font-size: 32px;
    margin-top: 2.438rem;
  }
  .about-me p {
    color: var(--body_profile_p);
    font-size: 18px;
    width: 1200px;
  }
}
