:root {
  --body_projects_h2: black;
  --body_projects_h4: #4338ca;
  --body_projects_p: #6b7280;
  --body_projects_span: #3730a3;
  --body_projects_span_bg: white;
  --body_projects_link: #3730a3;
  --body_projects_button: #3730a3;
}
[data-theme="dark"] {
  --body_projects_h2: #aebccf;
  --body_projects_h4: #cfcbff;
  --body_projects_p: white;
  --body_projects_span: #8f88ff;
  --body_projects_span_bg: #383838;
  --body_projects_link: #e1e1ff;
  --body_projects_button: white;
}
@media (min-width: 319px) and (max-width: 480px) {
  .projects-container {
    background-color: var(--body_background);
    padding-top: 2.438rem;
  }
  .projects-container h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    color: var(--body_projects_h2);
  }
  .project-border {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .projects {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 600px;
  }
  .projects-info {
    border: 2px solid #bab2e7;
    padding: 10px;
    border-radius: 20px;
  }

  .projects-info img {
    width: 150px;
    height: 100px;
    border: 1px solid #bab2e7;
  }
  .projects-info h4 {
    font-size: 30px;
    color: var(--body_projects_h4);
  }
  .projects-info p {
    color: var(--body_projects_p);
    white-space: wrap;
    height: 120px;
    overflow-y: scroll;
  }
  .project-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    grid-auto-flow: dense;
    width: 230px;
  }
  .project-features span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body_projects_span);
    border: 1px solid var(--body_projects_span);
    border-radius: 4px;
    white-space: nowrap;
    padding: 0.3rem;
    background-color: var(--body_projects_span_bg);
  }

  .project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .project-link a {
    color: var(--body_projects_link);
  }
  .previous-button,
  .next-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .previous-button svg,
  .next-button svg {
    width: 30px;
    height: 30px;
    fill: var(--body_projects_button);
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .projects-container {
    background-color: var(--body_background);
    padding-top: 0.1px;
  }
  .projects-container h2 {
    padding: 0 10.938rem 0 7.813rem;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    color: var(--body_projects_h2);
  }
  .project-border {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .projects {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .projects-info {
    width: 310px;
    border: 2px solid #bab2e7;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .project-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .projects-info img {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    border: 1px solid #bab2e7;
  }
  .projects-info h4 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: var(--body_projects_h4);
  }
  .projects-info p {
    color: var(--body_projects_p);
    overflow-y: scroll;
    height: 100px;
  }
  .project-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    grid-auto-flow: dense;
  }
  .project-features span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body_projects_span);
    border: 1px solid var(--body_projects_span);
    border-radius: 4px;
    white-space: nowrap;
    padding: 0.3rem;
    background-color: var(--body_projects_span_bg);
  }

  .project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-link a {
    color: var(--body_projects_link);
  }
  .previous-button,
  .next-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .previous-button svg,
  .next-button svg {
    width: 44px;
    height: 44px;
    fill: var(--body_projects_button);
  }
}

@media (min-width: 1601px) {
  .projects-container {
    background-color: var(--body_background);
    padding-top: 0.1px;
  }
  .projects-container h2 {
    padding: 0 10.938rem 0 7.813rem;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    color: var(--body_projects_h2);
  }
  .project-border {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .projects {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .projects-info {
    width: 310px;
    border: 2px solid #bab2e7;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .project-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .projects-info img {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    border: 1px solid #bab2e7;
  }
  .projects-info h4 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: var(--body_projects_h4);
  }
  .projects-info p {
    color: var(--body_projects_p);
    overflow-y: scroll;
    height: 100px;
  }
  .project-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    grid-auto-flow: dense;
  }
  .project-features span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body_projects_span);
    border: 1px solid var(--body_projects_span);
    border-radius: 4px;
    white-space: nowrap;
    padding: 0.3rem;
    background-color: var(--body_projects_span_bg);
  }

  .project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-link a {
    color: var(--body_projects_link);
  }
  .previous-button,
  .next-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .previous-button svg,
  .next-button svg {
    width: 44px;
    height: 44px;
    fill: var(--body_projects_button);
  }
}
