:root {
  --body_skill_h2: #1f2937;
  --body_skill_h3: #4338ca;
  --body_skill_p: #6b7280;
}
[data-theme="dark"] {
  --body_skill_h2: #aebccf;
  --body_skill_h3: #b7aaff;
  --body_skill_p: white;
}

@media (min-width: 319px) and (max-width: 480px) {
  .skills {
    background-color: var(--body_background);
    padding-top: 20px;
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    text-align: center;
  }
  .skill-list {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 30px;
  }
  .skill-list p {
    display: none;
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border: 1px solid #bab2e7;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .skills {
    padding: 7.5rem 10.938rem 0 7.813rem;

    background-color: var(--body_background);
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    margin: 0;
  }
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7.5rem;
  }
  .skill-list > div {
    width: calc((100% - 2 * 7.5rem) / 3);
  }

  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 30px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border: 1px solid #bab2e7;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .skills {
    padding: 7.5rem 10.938rem 0 7.813rem;

    background-color: var(--body_background);
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    margin: 0;
  }
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7.5rem;
  }
  .skill-list > div {
    width: calc((100% - 2 * 7.5rem) / 3);
  }

  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 30px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border: 1px solid #bab2e7;
  }
}

@media (min-width: 1601px) {
  .skills {
    padding: 7.5rem 10.938rem 0 7.813rem;

    background-color: var(--body_background);
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    margin: 0;
  }
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7.5rem;
  }
  .skill-list > div {
    width: calc((100% - 2 * 7.5rem) / 3);
  }

  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 30px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border: 1px solid #bab2e7;
    margin-top: 2.625rem;
  }
}
