:root {
  --body_skill_h2: #1f2937;
  --body_skill_h3: #4338ca;
  --body_skill_p: #6b7280;
  --body_skill_html: orangered;
  --body_skill_backend: #4338ca;
  --body_skill_tool: green;
  --body_black_white: #1f2937;
}
[data-theme="dark"] {
  --body_skill_h2: #aebccf;
  --body_skill_h3: #b7aaff;
  --body_skill_p: white;
  --body_skill_html: #b7aaff;
  --body_skill_backend: #b7aaff;
  --body_skill_tool: #b7aaff;
  --body_black_white: white;
}

@media (min-width: 319px) and (max-width: 767px) {
  .skills {
    background-color: var(--body_background);
    padding-top: 20px;
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    text-align: center;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .frontend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tool-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-h3 {
    color: var(--body_black_white);
  }
  .borderline {
    width: 200px;
    border-bottom: 1px solid #bab2e7;
  }

  .container-p {
    color: var(--body_black_white);
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-p p {
    height: 1px;
  }

  .html-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_html);
  }
  .backend-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_backend);
  }
  .tools-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_tool);
  }
  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 40px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border: 1px solid #bab2e7;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skills {
    background-color: var(--body_background);
    padding: 50px 50px 0 50px;
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    margin: 0;
  }
  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
  }
  .frontend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tool-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-h3 {
    color: var(--body_black_white);
  }
  .borderline {
    width: 200px;
    border-bottom: 1px solid #bab2e7;
  }

  .container-p {
    color: var(--body_black_white);
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-p p {
    height: 1px;
  }

  .html-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_html);
  }
  .backend-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_backend);
  }
  .tools-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_tool);
  }
  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 40px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    margin-top: 30px;
    border: 1px solid #bab2e7;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .skills {
    background-color: var(--body_background);
    padding: 70px 70px 0 70px;
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    margin: 0;
  }
  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
  }
  .frontend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tool-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-h3 {
    color: var(--body_black_white);
  }
  .borderline {
    width: 200px;
    border-bottom: 1px solid #bab2e7;
  }

  .container-p {
    color: var(--body_black_white);
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-p p {
    height: 1px;
  }

  .html-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_html);
  }
  .backend-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_backend);
  }
  .tools-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_tool);
  }
  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 30px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border-bottom: 1px solid #bab2e7;
    padding-top: 30px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .skills {
    padding: 4rem 10.938rem 0 7.813rem;
    background-color: var(--body_background);
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 3rem;
    margin: 0;
  }
  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 90px;
  }
  .frontend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tool-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-h3 {
    color: var(--body_black_white);
  }
  .borderline {
    width: 200px;
    border-bottom: 1px solid #bab2e7;
  }

  .container-p {
    color: var(--body_black_white);
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-p p {
    height: 1px;
  }

  .html-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_html);
  }
  .backend-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_backend);
  }
  .tools-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_tool);
  }
  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 30px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border: 1px solid #bab2e7;
    margin-top: 2.625rem;
  }
}

@media (min-width: 1920px) {
  .skills {
    padding: 7.5rem 10.938rem 0 7.813rem;
    background-color: var(--body_background);
  }
  .skills h2 {
    color: var(--body_skill_h2);
    font-size: 64px;
    margin: 0;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 90px;
  }
  .frontend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backend-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tool-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-h3 {
    color: var(--body_black_white);
  }
  .borderline {
    width: 200px;
    border-bottom: 1px solid #bab2e7;
  }

  .container-p {
    color: var(--body_black_white);
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-p p {
    height: 1px;
  }

  .html-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_html);
  }
  .backend-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_backend);
  }
  .tools-logo {
    width: 70px;
    height: 70px;
    color: var(--body_skill_tool);
  }
  .skill-list h3 {
    color: var(--body_skill_h3);
    font-size: 30px;
  }
  .skill-list p {
    color: var(--body_skill_p);
  }
  .skill-bottomline {
    border: 1px solid #bab2e7;
    margin-top: 2.625rem;
  }
}
