:root {
  --body_background: white;
}
[data-theme="dark"] {
  --body_background: #252128;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  transition: all 0.3s ease-in-out;
}

/* Footer-section-start */
.footer-container {
  background-color: #f9f9f9;
  margin-top: 8.688rem;
  height: 25.563rem;
  width: auto;
}
.footer p {
  width: 540px;
  height: 106px;
  font-size: 42px;
  font-weight: 600;
  color: #1f2937;
  margin-left: 7.813rem;
  padding-top: 5.313rem;
}
.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 7.813rem;
  text-decoration: underline;
  color: #3730a3;
}
.my-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 10.938rem;
  font-weight: 500;
}
.blog {
  width: 120px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #0a0a14;
}
.right-hand {
  color: gold;
  font-size: 20px;
  width: 26px;
  height: 24px;
}
.footer-github {
  width: 60px;
  height: 27px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #00ab6b;
  text-decoration: none;
}
.footer-linkedln {
  width: 74px;
  height: 27px;
  line-height: 27px;
  font-weight: 500;
  color: #0077b5;
}
/* Footer-section-end */
