:root {
  --body_background: white;
  --black_white: #1f2937;
  /* SettingsBar-color start */
  --body_settings_span: #4731d3;
  --body_settings_text: #777777;
  --body_settings_mode: #4731d3;
  /* SettingsBar-color end */

  /* Navbar-color-start */
  --body_nav_span: #7b61ff;
  --body_nav_span_bg: #eeebff;
  --body_nav_h4_bg: white;
  --body_nav_h4_color: #3730a3;
  /* Navbar-color-end */

  /* Header-color-start */
  --body_header_h3: #4338ca;
  --body_header_h1: #1f2937;
  --body_header_h4bg: #3730a3;
  --body_header_h4_color: white;
  --body_header_icon: #3730a3;
  --body_header_icon_bg: white;
  /* Header-color-end */

  /* Skills-color-start */
  --body_skill_h2: #1f2937;
  --body_skill_h3: #4338ca;
  --body_skill_p: #6b7280;
  /* Skills-color-end */

  /* Profile-color-start */
  --body_profile_p: #6b7280;
  /* Profile-color-end */
}
[data-theme="dark"] {
  --body_background: #252128;
  --black_white: white;
  /* SettingsBar-dark start */
  --body_settings_span: #bab2e7;
  --body_settings_text: #d9d9d9;
  --body_settings_mode: #3a3a3a;
  /* SettingsBar-dark end */

  /* Navbar-dark-start */
  --body_nav_span: #8f88ff;
  --body_nav_span_bg: #4731d3;
  --body_nav_h4_bg: #3730a3;
  --body_nav_h4_color: white;
  /* Navbar-dark-end */

  /* Header-dark-start */
  --body_header_h3: #b7aaff;
  --body_header_h1: #aebccf;
  --body_header_h4bg: #e1e1ff;
  --body_header_h4_color: #252128;
  --body_header_icon: #bab2e7;
  --body_header_icon_bg: #383838;

  /* Header-dark-end */

  /* Skills-color-start */
  --body_skill_h2: #aebccf;
  --body_skill_h3: #b7aaff;
  --body_skill_p: white;

  /* Skills-color-end */

  /* Profile-color-start */
  --body_profile_p: white;
  /* Profile-color-end */
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  transition: all 0.3s ease-in-out;
}

/* Project-section-start */
.projects-container {
  margin: 2.438rem 10.938rem 0 7.813rem;
}
.projects-container h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 7.5rem;
}

.projects-info:last-child {
  grid-column-end: span 1;
}

.projects-info img {
  width: 18.75rem;
  height: 11.25rem;
}
.projects-info h4 {
  font-size: 30px;
  color: #4338ca;
}
.projects-info p {
  color: #6b7280;
}
.project-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
  grid-auto-flow: dense;
  width: 230px;
}
.project-features span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3730a3;
  border: 1px solid #3730a3;
  border-radius: 4px;
  white-space: nowrap;
  padding: 0.3rem;
}
.project-features span:hover {
  background-color: #3730a3;
  color: white;
}
.project-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Project-section-end */

/* Footer-section-start */
.footer-container {
  background-color: #f9f9f9;
  margin-top: 8.688rem;
  height: 25.563rem;
  width: auto;
}
.footer p {
  width: 540px;
  height: 106px;
  font-size: 42px;
  font-weight: 600;
  color: #1f2937;
  margin-left: 7.813rem;
  padding-top: 5.313rem;
}
.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 7.813rem;
  text-decoration: underline;
  color: #3730a3;
}
.my-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 10.938rem;
  font-weight: 500;
}
.blog {
  width: 120px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #0a0a14;
}
.right-hand {
  color: gold;
  font-size: 20px;
  width: 26px;
  height: 24px;
}
.footer-github {
  width: 60px;
  height: 27px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #00ab6b;
  text-decoration: none;
}
.footer-linkedln {
  width: 74px;
  height: 27px;
  line-height: 27px;
  font-weight: 500;
  color: #0077b5;
}
/* Footer-section-end */
