:root {
  --body_background: white;
}
[data-theme="dark"] {
  --body_background: #252128;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  transition: all 0.3s ease-in-out;
}

